<h1> Welcome to the DEV-RIPPLES</h1>
<%= link_to 'New post', new_post_path ,lass:"btn btn-secondary"%>
<h2> Users List</h2>
<div class="container">
    <table>
      <tr>
        <th>Email</th>
        <!-- <th>First_Name</th> -->
        <th>Date</th>
      </tr> 
      <% @users.each do |user| %>
          <tr>
              <td><%= user.email %> </td></br>
              <!-- <td><%#= user.first_name%></td> -->
              <td><%= user.created_at.strftime("%d/%b/%Y")%>
          </tr>
 <% end %>  
    </table>
</div>